.team
  list-style: none
  padding: 0

  li
    width: 29%
    float: left
    padding-right: 35px
    margin-bottom: 40px      
    height: 180px
  
  h4
    color: $strongblue
    margin-bottom: 5px

  span
    font-size: 14px
    text-transform: italic

  p
    font-size: 14px

  