body.donate, body.invest
  #personal_options
    background: $warmgray
    &:after
      background: $warmgray
    &:before
      border-top-color: $warmgray

  #main_content
    background: white
    box-shadow: 0 0 20px rgba(black,.2)

  .carrousel
    margin: 0
    padding: 15px 0
    float: left
    width: 100%

    .category_block
      float: left
      list-style: none
      position: relative
      overflow: hidden
      box-shadow: 0 0 2px 1px #ccc
      margin-bottom: 30px
      margin-right: 25px

      &:last
        margin-right: 20px

      a
        display: block
        height: 185px
        width: 290px
        text-decoration: none

        &:hover
          box-shadow: 0 0 4px 3px #ccc

        img
          height: 185px
          width: 290px


        .category_count
          padding: 6px
          color: #fff
          font-size: 11px
          top: 0
          right: 0
          position: absolute
          border-radius: 0 0 0 10px

        .category_label
          background-color: rgba(255, 255, 255, 0.8)
          bottom: 0
          left: 0
          width: 296px
          height: 60px
          padding: 5px 10px
          position: absolute

          h4
            margin: 0
            margin-top: 3px

          p
            font-size: 12px
            color: #555
            margin-top: 5px