body.donate, .donate
  .box a
    color: $carrot

  #logo
    +image-replace("logo-donate.png")

  #main_content
    .main
      h1, h2, h3, h4
        color: $carrot
      a
        color: $carrot

  .project_name
    border-left-color: $carrot
  
  #header
    ul li.menu_item
      a:hover, .icon
        color: $carrot
  
  .status_bar .progress
    background: $carrot
    &:after
      background: darken($carrot, 10%)

  .info_bar h6
    color: $carrot

  .carrousel
    .category_block
      a
        .category_count
          background-color: $carrot