body
  border-bottom: 50px solid $footerblue

#footer
  background: $navy
  color: white
  a
    color: $brightblue

.footer_wrapper
  overflow: hidden
  padding-bottom: 20px
  .sitemap, .copyrights
    width: 900px
    margin: 0 auto
    clear: both
    padding: 30px 70px 0
  .sitemap
    font:
      family: $headline-font
    h5
      font-size: 18px
      margin: 10px 0
    .links_list
      width: 25%
      float: left

    ul
      font-size: 1.2em
      padding: 0
      list-style: none
      li
        margin-bottom: 7px
        height: 30px
        a:link, a:visited
          color: white !important
          text-decoration: none
        a:hover
          color: $brightblue !important
          text-decoration: none
    .blog
      width: 40%
      float: left


      h5
        font-size: 18px
      .posts
        li
          font-size: 12px
          width: 100%
          height: 105px
          h6
            font-style: bold !important
            font-size: 1.2em
            margin: 0
          span
            color: $brightblue
          p
            font-family: Arial, sans-serif
          
    .social_links, 
      width: 35%
      float: left

      li
        list-style: none
        width: 100%

        a
          float: left
        p
          font-size: 15px
          margin-top: 20px


      .social-link
        +sprite-replace("social-facebook")

        &.twitter
          +sprites-sprite-position("social-twitter")

  .sponsors
    float: right


.footer-logo
  float: left
  &.fundacion-capital
    +image-replace("logo-fundacion.png")
