body
  border-bottom: 50px solid $footerblue

#footer
  background: $navy
  color: white
  a
    color: $brightblue

.footer_wrapper
  overflow: hidden
  .sitemap, .copyrights
    width: 900px
    margin: 0 auto
    clear: both
    padding: 30px 70px 0
  .sitemap
    font:
      family: Futura, Helvetica, Arial, sans-serif
    h5
      font-size: 18px
      margin: 10px 0
    .links_list
      width: 29%
      float: left
      margin-top: 25px
    ul
      font-size: 1.2em
      padding: 0
      list-style: none
      li
        margin-bottom: 7px
        height: 30px
        a:link, a:visited
          color: white !important
          text-decoration: none
        a:hover
          color: $brightblue !important
          text-decoration: none
    .contact_links

    .social_links, 
      width: 30%
      float: left
      margin-top: 24px
      li
        list-style: none
        width: 100%

        a
          float: left
        p
          font-size: 15px
          margin-top: 20px


      .social-link
        +sprite-replace("social-facebook")

        &.twitter
          +sprites-sprite-position("social-twitter")

  .sponsors
    float: right


.footer-logo
  float: left
  &.fundacion-capital
    +image-replace("logo-fundacion.png")
