#logo
  +image-replace("logo.png")
  margin: 14px 0
  float: left

#personal_options
  background: $navy
  position: absolute
  top: 0
  right: 0
  z-index: 10
  color: white
  padding: 6px 25px 9px 0
  height: 13px
  nav
    float: right
  a
    padding: 0 5px
  .user_name
    color: darken($lightgray,14%)
  .f-dropdown
    display: none
  +decorative-content(before, false)
    position: absolute
    left: -53px
    top: 0
    +triangle(top-right, 11px, $navy)
    border-left-width: 12px
    z-index: -1
  +decorative-content(after, false)
    position: absolute
    left: -45px
    top: 0
    width: 45px
    height: 28px
    background: $navy
    border-radius: 0 0 0 100%
    z-index: -1

.header_wrapper
  background: white
  font-size: .7em
  font-family: $headline-font
  text-transform: uppercase
  box-shadow: 0 10px 30px rgba(#8b8b8b,.3)
  position: fixed
  width: 100%
  top: 0
  z-index: 10
  a
    color: inherit
    text-decoration: none
    &:hover, &:active
      text-decoration: underline

#header
  position: relative
  h1
    font-size: 0
  .actions
    float: right
    font-size: 13px
    +horizontal-list
    color: $warmgray
    margin-top: 35px
    
    ul
      li
        a
          display: block
          padding: 5px 0 5px 30px
          margin-right: 40px
          &:hover
            text-decoration: none
            color: $warmgray
            &:after
              +sprites-sprite-position("menu-icon-pledger-hover")
          +decorative-content
            +sprite-replace("menu-icon-pledger")
            left: 0
            top: 4px
        &.donate_menu_item a:hover:after
          +sprites-sprite-position("menu-icon-pledger-hover")
        &.invest_menu_item a:after
          +sprites-sprite-position("menu-icon-investor")
        &.invest_menu_item a:hover:after
          +sprites-sprite-position("menu-icon-investor-hover")
        &.submit_menu_item a:after, &.support_menu_item a:after, &.expert_menu_item a:after
          +sprites-sprite-position("menu-icon-enterpreneur")
        &.submit_menu_item a:hover:after, &.support_menu_item a:hover:after, &.expert_menu_item a:hover:after
          +sprites-sprite-position("menu-icon-enterpreneur-hover")
        &.partners_menu_item a:after
          +sprites-sprite-position("menu-icon-partner")
        &.partners_menu_item a:hover:after
          +sprites-sprite-position("menu-icon-partner-hover")        