#logo
  +image-replace("logo.png")
  margin: 14px 0
  float: left

#personal_options
  background: $navy
  position: absolute
  top: 0
  right: 0
  z-index: 10
  color: white
  padding: 6px 25px 9px 0
  height: 13px
  nav
    float: right
  a
    padding: 0 5px
  .user_name
    color: darken($lightgray,25%)
  .dropdown_arrow
    margin-left: 8px
    top: -2px
    position: relative
  +decorative-content(before, false)
    position: absolute
    left: -53px
    top: 0
    +triangle(top-right, 11px, $navy)
    border-left-width: 12px
    z-index: -1
  +decorative-content(after, false)
    position: absolute
    left: -45px
    top: 0
    width: 45px
    height: 28px
    background: $navy
    border-radius: 0 0 0 100%
    z-index: -1

.header_wrapper
  background: white
  font-size: .7em
  font-family: $headline-font
  text-transform: uppercase
  box-shadow: 0 10px 30px rgba(#8b8b8b,.3)
  position: fixed
  width: 100%
  top: 0
  z-index: 1000
  a
    color: inherit
    text-decoration: none
    &:hover, &:active
      text-decoration: underline

#header
  position: relative
  h1
    font-size: 0
  .actions
    float: right
    font-size: 13px
    +horizontal-list
    color: $warmgray
    ul
      li.menu_item
        margin: 35px 30px 0 0
        a
          display: block
          +transition(color .3s)
          &:hover, .icon
            color: $navy
            text-decoration: none

.dropdown_profile
  position: absolute
  background: whitesmoke
  color: #333
  right: 20px
  padding: 20px 15px
  box-shadow: 2px 2px 1px rgba(black,.2)
  border-radius: 4px
  list-style: none
  display: none
  &.active
    display: block

  li
    margin: .3em
    &.divider
      display: block
      height: 4px
      width: 100%
      border-top: 1px solid #888