.project
  width: 210px
  float: left
  margin: 5px
  .box
    background: white
    border: 1px solid $midgray
    height: 100%
  ul
    list-style: none
    padding: 0

  .project_content
    height: 128px
    padding: 5px
    .project_name
      border-left-width: 2px
      border-left-style: solid
      font-family: $headline-font
      padding-left: 5px

      a
        text-decoration: none
    .author
      margin-top: 5px
      font-size: 12px
    .description
      font-size: 12px

  .cover 
    margin-bottom: 5px
    padding: 3px
    img
      +filter(sepia(100%) contrast(1.2) brightness(0.9))
      +transition(all .5s)
      &:hover
        +filter(sepia(0%) contrast(1) brightness(1))
  
  .black_box
    display: none

  .status_bar
    display: block
    background: white
    width: 97%
    height: 10px
    margin: 8px 0 4px 2px
    border: 1px solid $midgray
    border-radius: 5px
    overflow: hidden
    .progress
      width: 40%
      height: 100%
      display: block
      background: $warmgray
      +decorative-content
        width: 10px
        height: 10px
        right: -5px
        background: darken($warmgray, 10%)
        border-radius: 5px

  .info_bar
    background-color: rgb(241, 241, 241)
    padding-top: 3px
    background-image: url("corner.png") bottom right no-repeat

    ul
      +clearfix
      margin: 0
      padding-left: 6px
      padding-bottom: 6px
    li
      float: left
      width: 27%
      margin-right: 12px
      text-align: left
      .info_desc
        color: $warmgray
        font-size: 12px
        font-family: Futura, "Trebuchet MS", Arial, sans-serif
    h6
      font-size: 14px
      color: $warmgray
      margin: 0
      height: 20px
      padding-top: 5px
      span
        font-size: 10px

ul.collection_list
  padding: 0
  list-style: none