.project_box
  width: 210px
  float: left
  margin: 0 10px 10px 0
  +context(".highlighted_projects")
    width: 227px
  .box
    background: white
    border: 1px solid $midgray
    height: 100%
    border-radius: 5px 0 0 0
  ul
    list-style: none
    padding: 0

  .project_content
    height: 128px
    padding: 5px
    .project_name
      border-left-width: 2px
      border-left-style: solid
      font-family: $headline-font
      padding-left: 5px

      a
        text-decoration: none
    .author
      margin-top: 5px
      font-size: 12px
    .description, .where
      font-size: 12px
    

  .cover 
    margin-bottom: 5px
    padding: 3px

  
  .black_box
    display: none

  .status_bar
    display: block
    background: white
    width: 97%
    height: 10px
    margin: 8px 0 4px 2px
    border: 1px solid $midgray
    border-radius: 5px
    overflow: hidden
    .progress
      width: 40%
      height: 100%
      display: block
      background: $warmgray
      +decorative-content
        width: 10px
        height: 10px
        right: -5px
        background: darken($warmgray, 10%)
        border-radius: 5px

  .info_bar
    background-color: rgb(241, 241, 241)
    padding-top: 3px
    background-image: url("corner.png") bottom right no-repeat
    margin-top: 12px

    ul
      +clearfix
      margin: 0
      padding-left: 6px
      padding-bottom: 6px
    li
      float: left
      width: 31%
      margin-right: 7px
      text-align: left
      &:last-child
        margin-right: 0

      .info_desc
        color: $warmgray
        font-size: 12px
        font-family: $headline-font
    h6
      font-size: 14px
      color: $warmgray
      margin: 0
      height: 20px
      padding-top: 5px
      span
        font-size: 10px
  .status_image
    z-index: 100
    position: absolute


ul.collection_list
  padding: 0
  list-style: none

#explore_results
  clear: left
  width: 720px
  float: left