.sidebar
  font-size: .8em
  h4
    border-bottom: 3px solid $clouds
    padding-bottom: .5em
    margin-bottom: 1.2em
    margin-top: 2em
    +decorative-content
      height: 10px
      width: 70%
      right: 0
      bottom: -6px
      background: white
  .posts li
    margin-bottom: 1.2em
    a
      color: inherit