.home_header
  padding-top: 30px
  position: relative
  z-index: 10
  h1
    text-align: center
    padding-bottom: 40px
  .vimeo
    margin-bottom: -30px
    background: image-url("shadow-video.png") 100% 100% no-repeat
    padding-bottom: 20px
    .vimeo-iframe
      position: relative
      z-index: 20
  .button
    margin-right: 40px


  p.callout
    color: $midnightblue
    font-size: 1.2em
    line-height: 1.3em
    word-spacing: 1px

#page_content
  .project .box
    padding: 0

.project .box
  border: 6px solid $clouds

  h4
    height: 3.4em
  
  .project_content
    padding: 0 10px 10px
  
  .info_bar, .invest_bar, .investors_bar
    overflow: hidden
    background: $lightgray
    border-top: 1px solid $medgray

  .invest_bar
    text-align: center
    padding: 10px

  .info_bar
    padding: 5px 10px
    overflow: hidden

    li
      width: 33%
      float: left

    h6
      margin-bottom: -3px

    .status_bar
      background: white
      width: 100%
      border-radius: 10px
      height: 10px
      margin: 5px 0 10px
      overflow: hidden

      .progress
        border: none
        background: $brightblue
        min-width: 1%
        height: 100%

  p.where
    margin-bottom: .2em
    +inline-icon("where_pin.png", 5)

.sidebar, .box
  font-size: .8em
  h4
    border-bottom: 3px solid $clouds
    padding-bottom: .5em
    margin-bottom: 1.2em
    +decorative-content
      height: 10px
      width: 60%
      right: 0
      bottom: -6px
      background: white

.projects_list
  margin-bottom: 4em
  
  .list_title
    margin-bottom: 2em

  .explore_link
    font-size: .8em
    margin: 20px 10px 0 0
    color: inherit
    &:hover
      color: $carrot

.investors_bar
  span
    margin-top: .6em
    display: block
  .investors_number
    float: left
    padding: 13px 14px
    font-size: 1.4em
    color: $wetasphalt
    background: #eee
    margin-right: .5em